PowerPlateformCICDwithDevOps_managed/Workflows/Newmachineapprovalrequest-5BE4735E-3D89-EE11-8179-000D3A69A76F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_46432"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tk_sharedapprovals_74c68"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tk_sharedoffice365_8a61c"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "77d18231-7f05-4691-af63-384fb4156061"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "tk_machineorder",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7529dcca-2d8a-4dca-90da-6610532867c7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "New machine request for @{triggerOutputs()?['body/tk_machinename']}",
              "WebhookApprovalCreationInput/assignedTo": "@{triggerOutputs()?['body/tk_approver']};",
              "WebhookApprovalCreationInput/details": "A new machine has been requested \n@{triggerOutputs()?['body/tk_machinename']} , $@{triggerOutputs()?['body/tk_price']}\nDepartment Contribution: $.@{triggerOutputs()?['body/tk_departmentcontribution']}\nComments:@{triggerOutputs()?['body/tk_comments']}",
              "WebhookApprovalCreationInput/requestor": "@{triggerOutputs()?['body/tk_requestedby']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "75a3d93d-0b4b-46c8-bc06-8bfad52f00e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tk_machineorders",
                  "recordId": "@triggerOutputs()?['body/tk_machineorderid']",
                  "item/tk_approvalstatus": 126790000,
                  "item/tk_approveddate": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cfd5b6cf-7df5-4c63-aaef-510924f68e4f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Update_a_row')?['body/tk_requestedby']",
                  "emailMessage/Subject": "Your machine order has been approved!",
                  "emailMessage/Body": "Your machine has been approved <b>@{outputs('Update_a_row')?['body/contoso_machinename']}</b></br>\n\nEstimated ship date: @{outputs('Update_a_row')?['body/contoso_estimatedshipdate']}</br>\n\n@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "77844ce3-4042-40e7-b406-1410641593d8"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}